extends layout

include _includes/sharedHTMLfunctions

block content
  #masthead
    .container
      .row
        .col-md-7
          h1= title
            p.lead
        |
        .col-md-5
          .well.well-lg
            .row
              .col-sm-12
      // /cont
    .container
      .row
        .col-md-12
          .top-spacer
      // /cont
  .container
    .row
      .col-md-12
        .panel
          .panel-body
            // /stories
            .row
              br
              |
              .col-md-6.col-sm-6.text-center
                a.story-title(href='#')
                  img(alt='' src=hero_api.images.md)
              |
              .col-md-6.col-sm-6
                h1= hero.name
                |
                hr
                |
                .row
                  .col-xs-9
                    h4
                      span.label.label-default= hero_api.biography.publisher.split(' ')[0]
                    h2 Stats
                  |
                  .col-xs-3
                |
                each value, key in hero_api.powerstats
                  .row
                    .col-xs-9
                      h4
                        small.text-muted= key.toUpperCase()
                          |: #{value}
                br
                br
            |
            hr
            |
            // Add Review Button
            a.btn.btn-primary.pull-right.btnNext(href=`/hero/${hero._id}/review/new`)
              | Add Review
            h1 Reviews
            // Sort reviews by date (newest to oldest)
            - hero.reviews.sort(function(a, b) {return b.createdOn - a.createdOn;})
            each review in hero.reviews
              .row.review
                .col-12.review-header
                  span.rating
                    +outputRating(review.rating)
                  span.review-author #{review.author}
                  small.review-timestamp
                    +formatDate(review.createdOn)
                .col-12
                  p !{(review.reviewText).replace(/\n/g, '<br/>')}
                  hr
