extends layout

block content
  #masthead
    .container
      .row
        .col-md-7
          h1= title
            p.lead
        |
        .col-md-5
          .well.well-lg
            .row
              .col-sm-12
      // /cont
    .container
      .row
        .col-md-12
          .top-spacer
      // /cont
  .container
    .row
      .col-md-12
        .panel
          .panel-body
            // /stories
            each hero in heroes
              .row
                br
                |
                .col-md-2.col-sm-3.text-center
                  a.story-title(href='#')
                    img.img-circle(src=hero.imageUrl alt='Hero Image' style='width:100px;height:100px')
                |
                .col-md-10.col-sm-9
                  h3= hero.name
                  |
                  .row
                    .col-xs-9
                      h4
                        span.label.label-default= hero.publisher
                      h4
                        small.text-muted(style="font-family:courier,'new courier';")= hero.reviews.length
                          |  Reviews &bull;
                          a.text-muted(href='#') Read More
                    |
                    .col-xs-3
                  |
                  br
                  br
              |
              hr
              |
              |
            // /stories
            a.btn.btn-primary.pull-right.btnNext(href='/')
              | More
              i.glyphicon.glyphicon-chevron-right
      // /col-12
  |
  |
  hr
